<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <h2>Add User</h2>
    <div class="form-group">
      <label>First Name</label>
      <input [(ngModel)]="service.formData.firstName" [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}"
        type="text" name="firstName" class="form-control" #userFirstName="ngModel" required minlength="2">
      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">
        First name required
      </div>
      <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">
        Must be at least 2 characters
      </div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)]="service.formData.lastName" [ngClass]="{'is-invalid':userLastName.errors && userLastName.touched}"
        type="text" name="lastName" class="form-control" #userLastName="ngModel" required minlength="2">
      <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
        Last name required
      </div>
      <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">
        Must be at least 2 characters
      </div>
    </div>
    <div class="form-group">
      <label>E-mail</label>
      <input [(ngModel)]="service.formData.email" [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}" type="text"
        name="user.email" class="form-control" #userEmail="ngModel" required pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$">
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
        E-mail required
      </div>
      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
        Email is not valid
      </div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input [(ngModel)]="service.formData.phone" [ngClass]="{'is-invalid':userPhone.errors && userPhone.touched}" type="number"
        name="user.phone" class="form-control" #userPhone="ngModel" required minlength="8">
      <div [hidden]="!userPhone.errors?.required" class="invalid-feedback">
        Phone required
      </div>
      <div [hidden]="!userPhone.errors?.minlength" class="invalid-feedback">
        Must be at least 2 characters
      </div>
    </div>
    <button [disabled]="!userForm.form.valid" class="btn btn-lg btn-block">Submit</button>

  </form>
</div>